<ion-view id="page6" cache-view="false">
<ion-nav-title>{{schoolName}}</ion-nav-title>
  <ion-content padding="true" class="has-header">
   <div ng-repeat="diningHall in diningHalls"> 
    <a id="schoolName-button7" style="font-weight:600;font-size:14px;border-radius:200px 200px 200px 200px;" class="button button-positive button-small button-block"
    ng-click='gotoWebsite(diningHall.link)'>{{diningHall.name}}</a>
     <ion-list id="schoolName-list6">

      <ion-item ng-repeat="item in diningHall.menu" id="schoolName-list-item7"> {{item}}</ion-item>
      
     </ion-list>
    <div class="spacer" style="width: 300px; height: 52px;"></div>
   </div>
  </ion-content>
</ion-view>   